<div class="container">
  <form [formGroup]="signUpForm">
    <div class="wrapper">
      <h1>Formulaire d'inscription</h1>
      <div class="row">
        <label for="pseudo">Pseudo</label>
        <input type="text" id="pseudo" formControlName="pseudo"/>
        <span *ngIf="
        signUpForm.get('pseudo')?.touched &&
        signUpForm.get('pseudo')?.errors?.['required']
        ">Veuillez remplir le champs</span>
      </div>
      <div class="row">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email">
        <span *ngIf="
        signUpForm.get('email')?.touched &&
        signUpForm.get('email')?.errors?.['required']
        ">Veuillez remplir le champs</span>
      </div>
      <div class="row">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" formControlName="password">
        <span *ngIf="
        signUpForm.get('password')?.invalid &&
        signUpForm.get('password')?.touched &&
        signUpForm.get('password')?.errors?.['pattern']
        ">Veuillez remplir le champs</span>
      </div>
      <button [disabled]="!signUpForm.valid" class="btn" type="submit" (click)="onSubmit()">Créer un profil</button>
      <p>Déjà un compte ? <a routerLink="/login">Connectez-vous</a></p>
    </div>
  </form>
</div>
