<div class="container">
  <div class="wrapper">
    <h1>Formulaire de connexion</h1>
    <div class="row">
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="row">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password">
    </div>
    <button class="btn" type="submit">Me connecter</button>
    <p>Vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous</a></p>
  </div>
</div>
